<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">

  <style type="text/css">
body {
  color: blanchedalmond;
  background-color: steelblue;
  font-family: 'Sigmar One', cursive;
}
</style>
  <title>Pokemon</title>
</head>
<body>

  <h1>Pokemon</h1>
    <ul>
    <% for (let i = 0; i < pokemon.length; i++) { %>
      <li>
        <a href="/pokemon/<%=i%>"><%=pokemon[i].name%></a>
      </li>
    <% } %> 
  </ul>

</body>
</html>