<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
	<style type="text/css">
		body{
			background-color: steelblue;
			color: blanchedalmond; 
		}
	</style>
</head>
<body>
	<h1>See all the Pokemon!</h1>
	<ul>
	<% for(let i = 0; i < pokemon.length; i++) { %>
		<li><h3><%= pokemon[i].name %></h3></li>

	<% } %>
	</ul>

</body>
</html>