<!DOCTYPE html>
<html>
<head>
	<title>New Page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<h1>New Pokemon Page</h1>

	<form action='/pokemon' method='POST'>
		Name: <input type="text" name="name"><br>
		Image URL: <input type="url" name="img"><br>
		<input type="submit"><br>
	</form>


</body>
</html>