<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <title>Pokemon</title>
</head>
<body>
  <h1>Who's That Pokemon?</h1>
  <img src="<%=pokemon.img%>">
  <h2><%=pokemon.name%></h2>


<a href="/pokemon">Back to Home</a>
</body>
</html>