<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <h1>Gotta Catch 'Em All</h1>

    <h2>Say hello  to: <%= pokemon.name%> </h2>
    <br/>
    <br/>
    <img src="<%=pokemon.img%>">
    <br/>
    <br/>
    <a href="/pokemon">Back to previous page</a>
  </body>
</html>
