<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Gotta Catch 'Em All!</h1>
	<h2><%= pokemon.name %></h2>
	<img src="<%=pokemon.img%>">

	<br>
	<h4><a href="/pokemon">Go Back to Pokemon List</a></h4>

</body>
</html>