<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Index</title>
	<style type="text/css">
		body{
			background-color: steelblue;
			color: blanchedalmond; 
		}
	</style>
</head>
<body>
	<h1>Gotta Catch 'Em All!</h1>
	<h2><%= pokemon.name %></h2>
	<img src="<%=pokemon.img%>">

	<br>
	<h4><a href="/pokemon">Go Back to Pokemon List</a></h4>

</body>
</html>